.App {
  text-align: center;
}

body {
  background-color: rgb(54, 54, 54);
  margin: 0px;
}

header {
  background-color:rgb(20, 20, 20);
  color: purple;
  font-size: 40px;
  padding: .5em 0em;
  width: 100%;
  position: fixed;
  text-align: center;
  text-shadow: -2px 2px 3px rgb(78, 0, 78);
  font-weight: bold;
}